<header class="header-container">
    <div class="left-side">
      <img src="../assets/header-assets/logo.svg" alt="Medium Icon">
      <div class="center-side">
        <input type="text" placeholder="Search" class="search-input">
        <img src="../assets/header-assets/arrow.svg" alt="Arrow Icon" class="search-icon">
      </div>
    </div>
  
    <div class="right-side">
      <div class="write-button">
        <img src="../assets/header-assets/jam_write.svg" alt="Write Icon">
        <span>Write</span>
      </div>
      <button class="notification-button">
        <img src="../assets/header-assets/cil_bell.svg" alt="Notification Icon">
      </button>
      <button class="profile-button">
        <img src="../assets/header-assets/ri_user-fill.svg" alt="User Icon">
      </button>
    </div>
</header>

<div class="lineIcon"></div>